name: Build & Release

concurrency: waybar_amdgpu

on:
  workflow_dispatch:
    inputs:
      patch-level:
        type: choice
        default: patch
        required: true
        description: Release Level
        options:
          - major
          - minor
          - patch
  push:
    branches:
      - main
    paths:
      - src/
      - Cargo.toml

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    strategy:
      matrix:
        arch: [{"target_triple": "x86_64-unknown-linux-gnu", "target_short": "amd64"}]
    steps:
      - name: Install dependencies
        run: sudo bash -c 'echo "deb https://cz.archive.ubuntu.com/ubuntu questing main universe" >> /etc/apt/sources.list' && sudo apt update && sudo apt install libgtk-3-dev libamd-smi-dev

      - uses: actions/checkout@v6
        with:
          fetch-depth: '1'
          submodules: 'recursive'

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: ${{ matrix.arch.target_triple }}

      - name: Build
        env:
          AMDSMI_LIB_DIR: '/lib/x86_64-linux-gnu/'
        run: cargo build --release --target ${{ matrix.arch.target_triple }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: libamdgpu-${{ matrix.arch.target_short }}.so
          path: 'target/${{ matrix.arch.target_triple }}/release/libamdgpu.so'
          retention-days: 1
          if-no-files-found: 'error'


  tag-release:
    needs: build
    runs-on: ubuntu-latest
    name: Tag
    steps:
      - uses: mathieudutour/github-tag-action@v6.2
        id: tag
        with:
          default_bump: ${{ inputs.patch-level || 'patch' }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Fetch Objects
        uses: actions/download-artifact@v7

      - name: Upload Artifacts
        uses: softprops/action-gh-release@v2.5.0
        with:
          files: '*.so'
          tag_name: ${{ steps.tag.outputs.new_tag }}