name: Build & Release

on:
  workflow_dispatch:
    inputs:
      patch-level:
        type: choice
        default: patch
        required: true
        description: Release Level
        options:
          - major
          - minor
          - patch
  push:
    branches:
      - main
    paths:
      - src/
      - Cargo.toml

env:
  targets: '[
  {"target_triple": "aarch64-unknown-linux-gnu", "target_short": "arm64"}, 
  {"target_triple": "x86_64-unknown-linux-gnu", "target_short": "amd64"}
  ]'

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    env:
      targets: ${{env.targets}}
    strategy:
      matrix:
        arch: ${{ fromJSON(env.targets) }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: '1'
          submodules: 'recursive'

      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Build
        run: cargo build --release --target ${{ matrix.arch.target_triple }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: libamdgpu-${{ matrix.arch.target_short }}.so
          path: 'target/release/libamdgpu.so'
          retention-days: 1


  tag-release:
    needs: build
    runs-on: ubuntu-latest
    name: Tag
    steps:
      - uses: mathieudutour/github-tag-action@v6.2
        id: tag
        with:
          default_bump: ${{inputs.patch-level || 'patch'}}
          github_token: ${{ github.token }}

      - name: Fetch Objects
        uses: actions/download-artifact@v7

      - name: Upload Artifacts
        uses: softprops/action-gh-release@v2.5.0
        with:
          files: '*.so'
          tag_name: ${{ steps.tag.outputs.new_tag }}